
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
body {
  margin: 0;
  background: linear-gradient(180deg,  #313131 0%,  #777777 100%);
}

h1 {
  color: #bca432;
  font-family: 'Tangerine', cursive;
}

.container-imagem {
  text-align: center;
  padding: 27vh;
  
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: linear-gradient(180deg,  #bca432 0%,  #7a6a19 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 0px 0px 50px  #79691a;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  top: 130px;
}
  
button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid  #bca432;
  box-shadow: 0 0 60px  #bca432;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
  }
  
.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #bca432;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

.footer {
  margin-top: 15px;
  padding: 15px;
  color:  #bca432;
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 32px;
}

.footer a {
  margin-top: 15px;
  padding: 15px;
  color:  #bca432;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

